.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: left;
}

.space-between{
justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.semibold{
    font-weight: bold;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}